body {
    background-color: #F7F7F7;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.side {
    position: fixed;
    display: block;
    background-color: #00AEB9;
    width: 400px;
    height: 100vh;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 80px 20px 40px 20px;
}

.side-container {
    display: block;
    padding: 0px 20px 0px 20px;
}

.side-about h1 {
    display: inline;
    color: #D8FEFF;
    font-size: 85px;
    font-weight: 700;
    line-height: 90px;
}

.side-about p {
    color: #77E5E8;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    padding: 10px 0px 20px 0px;
}

.side-links a {
    display: block;
    color: #D8FEFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    width: fit-content;
    padding: 10px 0px 10px 0px;
}

.side-contacts {
    padding: 60px 0px 60px 0px;
}

.side-contacts img {
    width: 50px;
    padding-right: 15px;
}

.side-credits p {
    color: #77E5E8;
}

.side-credits a {
    color: #D8FEFF;
    font-weight: 600;
    padding-left: 135px;
}