/* local fonts */
@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Light.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Black.woff");
    font-weight: bold;
    font-style: normal;
}

/* override scrollbar style */
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #e2e2e2;
}
   
::-webkit-scrollbar-thumb {
    background: #969696; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #6d6d6d;
}

::-webkit-scrollbar-button:single-button {
    background-color: #e2e2e2;
}

/* html elements styling */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F7F7;
    font-family: "Avenir", "Arial";
    overflow-y: scroll;
    min-block-size: 380px;
}

a {
    text-decoration: none;
}

/* side div items */
.side {
    position: fixed;
    display: block;
    background-color: #00AEB9;
    text-align: left;
    width: 380px;
    height: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 80px 20px 40px 20px;
    overflow-y: scroll;
}

.side-container {
    display: block;
    padding: 0px 40px 0px 20px;
}

.side-about h1 {
    display: inline;
    color: #D8FEFF;
    font-size: 85px;
    font-weight: 700;
    line-height: 90px;
    transition: 0.5s;
}

.side-about p {
    color: #77E5E8;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    padding: 10px 0px 10px 0px;
}

.side-links a {
    display: block;
    color: #D8FEFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    width: fit-content;
    padding: 10px 0px 10px 0px;
    transition: 0.5s;
}

.side-contacts {
    padding: 50px 0px 60px 0px;
    display: flex;
    justify-content: space-between;
}

.side-contacts img {
    transition: 0.5s;
}

.side-credits p {
    color: #77E5E8;
}

.side-credits a {
    color: #D8FEFF;
    font-weight: 600;
    float: right;
    transition: 0.5s;
}

.side h1:hover, .side a:hover, .side img:hover  {
    opacity: 0.7;
    transition-timing-function: linear;
}

/* main div items */
.main-container {
    padding: 60px 40px 40px 500px;
} 

#main-about-heading, 
#main-projects-heading,
#main-contacts-heading {
    color: #646464;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
    opacity: 0.3;
} 

.main-contents {
    color: #646464;
    padding: 0px 20px 20px 0px;
    font-size: 17px;
    word-spacing: 4px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 0px;
}

.main-projects-list a {
    color: #00AEB9;
    /* opacity: 0.5; */
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    /* margin-left: 0px; */
} 

.main-projects-list a:hover {
    color: #77E5E8;
    /* opacity: 1; */
    transition-timing-function: linear;
}

@media screen and (max-width: 1200px) {
    body {
        display: flex;
        float: left;
    }

    .side {
        position: absolute;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        margin-bottom: 100px;
    }

    .side-container {
        padding: 0px 60px 0px 40px;
    }

    .side-credits {
        visibility: hidden;
    }

    .main-container {
        padding: 700px 40px 40px 40px;
    } 
}

@media screen and (max-width: 720px) {
    .side {
        padding-top: 40px;
    }

    .side-container {
        padding-left: 0px;
    }

    .side-about h1 {
        font-size: 65px;
    }
    
    .side-about p {
        font-size: 20px;
        padding: 5px 0px 5px 0px;
    }
    
    .side-links a {
        font-size: 20px;
        padding: 5px 0px 5px 0px;
    }

    .main-container {
        padding: 600px 20px 40px 20px;
    } 
}

@media screen and (max-width: 520px) {
    .side-container {
        padding-left: 0px;
    }

    .main-container {
        padding: 650px 20px 40px 20px;
    } 
}

@media screen and (max-width: 424px) {
    .side-container {
        padding-left: 0px;
    }

    .main-container {
        padding: 750px 20px 40px 20px;
    } 
}
